.body{
    margin: 0;
    padding: 0;
    background-color: #000;
    
}

.container_login { 
        max-width: 400px;
        margin: 50px auto;
        display: none 
    }
    
    .tabs { 
        display: flex; 
        margin-bottom: 20px;
     }
    
    .tab {
     padding: 10px; 
     cursor: pointer; 
    }
    
    .tab.active {
        background: #ddd; }
        
    .form { display: none; }
    .form.active { display: block; }
    
    .pfp_default_image{
            border-radius: 50%;
            display: inline;
            margin-left: 96%; /* trocar pra padrao rem depois*/
            width: 4rem;
            height: 4rem;
            cursor: pointer;
        }

.logout{
display:none; 
            position:fixed; 
            top:0; 
            left:0; 
            background:red; 
            padding:20px; 
            color:white;
            cursor: pointer;
}